# Build
main.js
*.js.map

# npm
node_modules
# package-lock.json is needed for CI/CD

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# OS
.DS_Store

# IDEs
.vscode
.idea

